<header>
  <img src="assets/images/audsat-logo.png" alt="AudSat Logo" />
  <menu>
    <ul class="nav">
      <li>
          <a [routerLink]="['/home']">Home</a>
      </li>
      <li><a [routerLink]="['/clientes']">Clientes</a>
        <ul>
          <li>
            <a [routerLink]="['/clientes/clientes-lista']">Busca de Clientes</a>
          </li>
          <li>
              <a [routerLink]="['/clientes/clientes-cadastro']">Cadastrar</a>
          </li>
        </ul>
      </li>
    </ul>
  </menu>
</header>