<h1>teste</h1>
<!-- <h3>Busca de clientes</h3>

<app-busca-clientes-form></app-busca-clientes-form>

<ng-container *ngIf="clientes && clientes.length > 0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome:</th>
        <th>Email:</th>
        <th>CEP:</th>
        <th>Telefone:</th>
        <th>Status:</th>
      </tr>
    </thead>
    <tbody *ngFor="let cliente of clientes; let i = index">
      <tr (click)="ficha(cliente.id)" class="editable">
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.cep }}</td>
        <td>{{ cliente.telefone }}</td>
        <td>{{ cliente.status }}</td>
      </tr>
    </tbody>
  </table>
</ng-container> -->
