<h3>Busca de clientes</h3>

<app-busca-clientes-form></app-busca-clientes-form>

<ng-container *ngIf="clientes.length > 0">
  <table class="lista-clientes">
    <thead>
      <tr>
        <th>Nome:</th>
        <th>Email:</th>
        <th>CEP:</th>
        <th>Telefone:</th>
        <th>Status:</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of clientes; let i = index">
      <tr>
        <td>{{ item.nome }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.cep }}</td>
        <td>{{ item.telefone }}</td>
        <td>{{ item.status }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
