$buttoncolor: #088C45;
.button {
  background: $buttoncolor;
  border-color: $buttoncolor;
}

.button:hover {
  background: darken($color: $buttoncolor, $amount: 5%);
}

.rounded {
  border-radius: 12px;
}

.float-right{
  float:right;
}

.clear {
  clear: both;
}

.cadastro-form,
.busca-cep-form,
.status-action {
  display:block;
  clear:all;
}